image: alpine:latest 

stages:
    - build
    - deploy

build:
    stage: build
    script:
        - apk add curl gcc libc-dev
        - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal --default-toolchain stable
        - source $HOME/.cargo/env
        - cargo test --doc
        - cargo doc
        - mv target/doc public
    artifacts:
        paths:
            - public
        expire_in: 5 days

pages:
    stage: deploy
    dependencies:
        - build
    script: 
        - ls public
    artifacts:
        paths:
            - public
