image: alpine:latest 

build:
    script:
        - apk add curl
        - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal --default-toolchain nightly
        - source $HOME/.cargo/env
        - cargo test --doc
        - cargo doc
        - mv target/doc public
    artifacts:
        paths:
            - public
        expire_in: 5 days

pages:
    dependencies:
        - build
    script: 
        - ls public
    artifacts:
        paths:
            - public
